@import url("https://fonts.googleapis.com/css2?family=Freeman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    font-family: "Electrolize", sans-serif;
  }

  h1,
  h2,
  h3 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }

  .h2-name {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
}
